[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name[en_US]=FreeFactoryQT
Exec=/usr/bin/python3 /opt/FreeFactory/bin/main.py
Icon=/opt/FreeFactory/Pics/FreeFactoryQT.ico
Icon[en_US]=/opt/FreeFactory/Pics/factory.ico
Name=FreeFactory2
